@charset "UTF-8";

html {
		background-image:url(TempCover.jpg) no-repeat top right;
  		background-size:  auto 50%;	
}


.tinted-image {
  background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
    ),
    /* bottom, image */
    url(TempCover.jpg) top right fixed;
}


.background_solid {
	background-color:#000000;
	position:absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;	
}

.background_transparent {
	background-color: rgba(0,0,0,.5);
	position:absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;	
}

@media(min-width: 481px){
	html {
	background-size:100% auto;
}
}